*{
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    min-width: 100vh;
    flex-direction: column;
background: linear-gradient(90deg, rgba(74, 185, 232, 1) 10%, rgba(91, 145, 199, 1) 69%, rgba(79, 94, 232, 1) 100%);}
.about{
    text-align: center;
    background: url(/image.png);
    background-size: cover;
    color: #fff;
      font-size: 2rem;
}
.para{
    display:flex;
    gap: 40px;
    align-items: flex-start;
    padding: 20px;

}
.para h3{
  text-align: center;
    color: #93dee4;
    padding: 20px;
}
.para hr{
    
    width: 100px;
    margin: auto;
    border: 2px solid #e8dddd;
    margin-bottom: 20px;
}
.para p{
    background-color: #f9f2f2;
    text-align:left;
    color: #763333;
    padding: 20px;
}
.cources{   
display: block;
text-align: center;
}
.cources h3{

background: linear-gradient(90deg, rgb(80, 120, 241) 0%, rgba(91, 145, 199, 1) 15%, rgba(33, 48, 184, 1) 100%);
border: #fbf7f2 1px solid;
width: 300px;
padding: 20px;
text-align: center;
margin: auto;
color: #fff;
}
.cources li{
    list-style: none;
    color: #fbfcff;
    background-color: rgb(135, 205, 255);
    border: #f9f2f2 1px solid;
    width: 300px;
    margin:  10px auto;
    padding: 10px;
   
}
.contact{
 background: url(/image.png);
    background-size: cover;
}