*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    font-family:"DM Sans", sans-serif ;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.container{
    background-color: white;
    padding: 30px;
    min-width: 400px;
border-radius: 5px;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2) ;
}
.header{
    text-align: center;
    margin-bottom: 30PX;
}
.name{
    margin-bottom: 20px;
}
.name label{
    display: block;
    margin-bottom: 8px;
}
.name input{
width: 100%;
padding: 10px;

border-radius: 3px;
}
.forgot{
margin-top :20px;
margin-bottom: 20px;
display: flex;
justify-content: space-between;
}
.forgot a{
    text-decoration: none;
    color: rgb(58, 81, 132);
}
button{
    width: 100%;
    padding: 10px;
    background-color: rgb(177, 232, 241);
    
}
button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2)  ;
}